html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
	background-color: #D5C6FF;
	padding: 1em;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
aside { 
	flex-basis: 33%;
}
p, [for="abtype"] {
	margin: 2rem 0 0 0
}
fieldset {
	border: 1px solid #000000;
	border-radius: 10px;
	margin-bottom: 2rem;
}
legend {
	font-weight: bold;
	font-size: 1.3em;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}
label {
	display: block;
	margin: 0.5rem 0;
	padding-bottom: 0.3rem;
	font-weight: bold;
}
textarea {
	height: 10rem;
	padding: 1rem;
}
select {
	font-size: 1rem;
}
button {
	font-size: 1rem;
	font-weight: bold;
	margin: 2rem 0;
	background-color: #D3FE3E;
	color: #000;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 10px;
}
button:hover {
	background-color: #000;
	color: #D3FE3E;
	cursor: pointer;
}
input:not([type="radio"]):not([type="checkbox"]), 
textarea, select {
	display: block;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	border-radius: 10px;
	padding: 0 1rem;
}

h1,
legend {
  font-family: "Julee", cursive;
  font-weight: 400;
  font-style: normal;
}
