/* DEFINE VARIABLES */

    :root {
        --cta-gradient: linear-gradient(#FF6F48, #F02AA6);
        --cta-gradient-hover: linear-gradient(#FF6F4888, #F02AA688);
    
        --foot-gradient: linear-gradient(#4851FF, #F02AA6);
        --foot-gradient-hover: linear-gradient(#4851FF88, #F02AA688);

        --bg-gradient: linear-gradient(#FFFFFFFF, #F0F1FFFF);
    
        --lilac: #666CA3;
        --dark-blue: #13183F;
        --blue-gray: #83869A;
        --hot-pink: #F74780;
        --pink: #FFA7c3;
        --white: #FFFFFF;
        --bg-white: #F0F1FF;
        --black: #000000;
        --off-white: #F2F2F2;
    
        --media-width: 375px;
        --padding-inline: 16px;
        --card-padding-left: 12px;
        --course-height: 120px;
        --card-width: 343px;
        --card-height: 259px;
        --img-width: 327px;
        --img-height: 301px;

        --boldest: 800;
        --bold: 700;
        --normal: 500;

        --xl-head-font-size: 40px;
        --xl-head-line-height: 50.4px;

        --l-head-font-size: 24px;
        --l-head-line-height: 32px;
    
        --m-head-font-size: 20px;
        --m-head-line-height: 25.2px;
    
        --light-text-font-size: 16px;
        --light-text-line-height: 26px;
    
        --big-bold-text-font-size: 18px;
        --big-bold-text-line-height: 28px;
    
        --bold-text-font-size: 16px;
        --bold-text-line-height: 28px;
    
    }

    /* RESET BROWSER */

    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
        font: inherit;
    }

    html, body {
        min-height: 100vh;
        }

    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }

/* COLOR CLASSES */
    .dk-blue {color: var(--dark-blue);}
    
    .white {color: var(--white);}

    .blue-gray {color: var(--blue-gray);}

    .hot-pink {color: var(--hot-pink); text-decoration: none;}

/* SET FONT */

    body {font-family: 'Plus Jakarta Sans', sans-serif; font-size: 62.5%;}

    .xl-head {
        font-weight: var(--boldest);
        font-size: var(--xl-head-font-size);
        line-height: var(--xl-head-line-height);
    }

    .l-head {
        font-weight: var(--boldest);
        font-size: var(--l-head-font-size);
        line-height: var(--l-head line-height);
    }

    .m-head {
        font-weight: var(--boldest);
        font-size: var(--m-head-font-size);
        line-height: var(--m-head-line-height);
    }

    .light-text {
        font-weight: var(--normal);
        font-size: var(--light-text-font-size);
        line-height: var(--light-text-line-height);
    }

    .big-bold-text {
        font-weight: var(--bold);
        font-size: var(--big-bold-text-font-size);
        line-height: var(--big-bold-text-line-height);
    }

    .bold-text {
        font-weight: var(--bold);
        font-size: var(--bold-text-font-size);
        line-height: var(--bold-text-line-height);
    }

/* GENERAL STYLES */

/* ********** BACKGROUNDS ********** */
/* ********** BACKGROUNDS ********** */
body {
    background-color: antiquewhite;
}
header {
    background-color: #8fcfe0;
}
.header-container {
    background-color: #c23c8e;
}
.hero-container {
    background-color: #83869A89;

}
.hero-text {
    background-color: rgb(146, 72, 72);
}
.card-container {
    background-color: blue;
}
.course {
    background-color: #dbd067;
}
h1 {
    background-color: #d9f0d3;
}
h2 {
    background-color: #e9edf7;
}
h3 {
    background-color: #f7dacb;
}
p {
        background-color: #cbbff7;
    }
.cta {
    background-color: #7c48bc;
}

/* ********** BACKGROUNDS ********** */
/* ********** BACKGROUNDS ********** */
    body {
        width: var(--width);
        min-height: 100vh;
        margin-inline: auto;
    }

/* HEADER */

    header {
        width: var(--media-width);
        margin-inline: auto;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: var(--padding-inline);
        padding-top: 16px;
    }

    .skilled-logo {
        width: 89px;
        height: 35px;
    }

    .btn-nav {
        background: var(--dark-blue);
        color: var(--white);
        width: 140px;
        height: 48px;
        border-radius: 24px;
        border-color: transparent;
    }

    .btn-nav:hover {
        background-color: var(--lilac);
    }

/* HERO */

    .hero-container {
        width: var(--media-width);
        padding-inline: var(--padding-inline);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-inline: auto;
    }

    .hero-text {
        margin-top: 38px;
        margin-inline: auto;
        width: var(--card-width);
    }

    .hero-text > h1 {
        margin-bottom: 26px;
        color: var(--dark-blue);
        -webkit-text-stroke: 1px #000000;
    }

    .hero-text > p {
        margin-bottom: 24px;
        color: var(--blue-gray);
    }

    .btn-cta {
        width: 167px;
        height: 56px;
        border-radius: 28px;
        background-image: var(--cta-gradient);
        color: var(--white);
        margin-bottom: 46px;
        border-color: transparent;
    }

    .btn-cta:hover {
        background-image: var(--cta-gradient-hover);
    }

    .mobile-hero-img {
        width: var(--img-width);
    }

    .tablet-hero-img, .desktop-hero-img {display: none;}

/* CARD SECTION */

    .card-container {
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        padding-inline: var(--padding-inline);
    }

    .courseContainer {
        width: var(--card-width);
        height: 120px;
        margin-inline: auto;
        margin-bottom: 40px;
        border-radius: 5px;
        background-image: var(--cta-gradient);
        padding-top: 24px;
        padding-left: 28px;
    }

    .course {
        width: 286px;
        height: 64px;
    }

    .card {
        width: var(--card-width);
        height: var(--card-height);
        margin-inline: auto;
        margin-bottom: 40px;
        background-color: var(--white);
        padding-inline: var(--padding-inline);
    }

    .business {
        margin-bottom: 80px;
    }

    .icon {
        min-width: 56px;
        min-height: 56px;
        padding-left: var(--card-padding-left);
        position: relative;
        top: -24px;
    }

    .cardHead {
        margin-bottom: 16px;
        padding-left: var(--card-padding-left);
        color: var(--dark-blue);
    }

    .cardText {
        margin-bottom: 24px;
        padding-left: var(--card-padding-left);
        color: var(--blue-gray);
    }

    .cta {
        padding-left: var(--card-padding-left);
    }

/* FOOTER */

    footer {
        height: 120px;
        background-color: var(--dark-blue);
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: var(--padding-inline);
        padding-block: 36px;
    }

    .btn-foot {
        background-image: var(--foot-gradient);
        width: 140px;
        height: 48px;
        border-radius: 24px;
        border-color: transparent;
    }

    .btn-foot:hover {
        background-image: var(--foot-gradient-hover);
    }
