/* browser reset tools */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
     margin: 0;
     padding: 0;
     font: inherit;
}

html, body {
      min-height: 100vh;
}
/*
img, picture, video, canvas, svg {
     display: block;
     max-width: 100%;
}
*/
/* color variable definitions */
:root {
    --first-gradient: linear-gradient(#FF6F48, #F02AA6);
    --first-gradient-hover: linear-gradient(
      rgba(255, 111, 72, 0.5),
      rgba(240, 42, 166, 0.5)
    );
  
    --second-gradient: linear-gradient(#4851FF, #F02AA6);
    --second-gradient-hover: linear-gradient(
      rgba(72, 81, 255, 0.5),
      rgba(240, 42, 167, 0.5)
    );

    --bg-gradient: linear-gradient(#FFFFFF, #F0F1FF);
  
    --lilac: #666CA3;
    --dark-blue: #13183F;
    --blue-gray: #83869A;
    --hot-pink: #F74780;
    --pink: #FFA7c3;
    --white: #FFFFFF;
    --bg-white: #F0F1FF;
    --black: #000000;
    --off-white: #F2F2F2;
  
    --padding-inline: 16px;
}

.dk-blue {
    color: var(--dark-blue);
}
  
.white {
    color: var(--white);
}

.blue-gray {
    color: var(--blue-gray);
}

.hot-pink {
    color: var(--hot-pink);
    text-decoration: none;
}

/* FONT */
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 62.5%;
}

.xl-head {
  font-weight: 800;
  font-size: 40px;
  line-height: 50.4px;
}

.l-head {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}

.m-head {
  font-weight: 800;
  font-size: 20px;
  line-height: 25.2px;
}

.light-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.big-bold-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.bold-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}

/* BUTTONS */
.btn-nav {
    background: var(--dark-blue);
    color: var(--white);
    width: 140px;
    height: 48px;
    border-radius: 24px;
    border-color: transparent;
}

.btn-nav:hover {
    background-color: var(--lilac);
}

.btn-cta {
    width: 167px;
    height: 56px;
    border-radius: 28px;
    background-image: var(--first-gradient);
    color: var(--white);
    margin-bottom: 46px;
    border-color: transparent;
}

.btn-cta:hover {
    background-image: linear-gradient(rgba(255, 111, 72, 0.5),
        rgba(240, 42, 166, 0.5)
      );
}

.btn-foot {
    background-image: linear-gradient(#4851FF, #F02AA6);
    width: 140px;
    height: 48px;
    border-radius: 24px;
    border-color: transparent;
}

.btn-foot:hover {
    background-image: linear-gradient(
        rgba(72, 81, 255, 0.5),
        rgba(240, 42, 167, 0.5)
      );
}

/* GENERAL STYLES */
body {

/* ****** REMOVE BEFORE SUBMISSION!!!!!!!!! ****** */
border: 1px solid var(--dark-blue);
/* ****** REMOVE BEFORE SUBMISSION!!!!!!!!! ****** */

    width: 375px;
    margin: 16px auto;
    min-height: 100vh;
    padding: 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    width: 375px;
    padding-top: 36px;
    padding-inline: var(--padding-inline);
    margin-inline: auto;
}

.skilled-logo {
    width: 89px;
    height: 35px;
}

/* HERO */
.hero-container {
    padding-inline: var(--padding-inline);
    margin-inline: auto;
    width: 343px;
}

.hero-text > h1 {
    width: 326px;
    color: var(--dark-blue);
    -webkit-text-stroke: 1px #000000;
}

.hero-text > p {
    width: 398px;
    color: var(--blue-gray);
}

.mobile-hero-img {
    width: 327px;
}

.tablet-hero-img, .desktop-hero-img {
    display: none;
}

/* CARD SECTION */
.card-container {
    width: 375px;
    background-color: var(--bg-gradient);
    padding-inline: var(--padding-inline);
    margin-inline: auto;
    background: rgb(183, 179, 180);
}

.courseContainer {
    width: 343px;
    height: 120px;
/*    margin-bottom: 16px; */
    border-radius: 12px;
    background-image: linear-gradient(#FF6F48, #F02AA6);
}

.course {
    padding-top: 28px;
    padding-left: 24px;
    color: var(--white);
}

.card {
    width: 343px;
    height: 259px;
    background-color: var(--white);
    border-radius: 10px;
    padding-inline: var(--padding-inline);
    margin-top: 40px;
}

.icon {
    width: 56px;
    height: 56px;
    position: relative;
    top: -24px;
}

.cardHead {
    margin-bottom: 16px;
    color: var(--dark-blue);
}

.cardText {
    margin-bottom: 24px;
    color: var(--blue-gray);
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    width: 375px;
    padding-top: 36px;
    padding-inline: var(--padding-inline);
    margin-inline: auto;
    height: 120px;
    background-color: var(--dark-blue);
}

@media (min-width: 768px) {
    body {
        width: 768px;
}
    header {
        width: 749px;
    }
    .hero-container {
        width: 768px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .hero-text {
        width: 50%;
    }
    .hero-image {
        overflow: hidden;
    }
    .mobile-hero-img, .desktop-hero-img {
        display: none;
    }
    .tablet-hero-img {
        display: inline-block;
        width: 640px;
        position: relative;
        top: -92px;
    }
    .card-container {
        width: 768px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-end;
        flex-wrap: wrap;
    }
    .courseContainer {
        width: 339px;
        height: 259px;
    }
    .card {
        width: 339px;
        height: 259px;
    }
    .animation {
        width: 340px;
        height: 259px;
    }
    footer {
        width: 768px;
    }
}