* {
    box-sizing: border-box;
}

body {
    background: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-size: 100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.card {
    background: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    border-radius: 3%;
    font-size: 18px;
    width: 350px;
    padding: 20px;
    }

.card-img1 {
    border-radius: 4%;
}

.card-title {
    color: hsl(0, 0%, 100%);
}

.card-text {
    color: hsl(215, 51%, 70%);
}

.smallFlex1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.smallFlex-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.price {
    color: hsl(178, 100%, 50%);
}

.time {
    color: hsl(215, 51%, 70%);
}

.avatar {
    width: 2rem;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 100%;
    margin-top: 5%;
}

.smallFlex2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto 5%;
    border-top: 1px solid hsl(215, 77%, 78%);
}

.creation {
    font-size: 1rem;
}

.creator {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.creator-bold {
    font-weight: 600;
    color:hsl(0, 0%, 100%)
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 20px auto;
}

.attribution a {
    color: hsl(215, 51%, 70%);
    font-weight: 600;
}
